@import '../../App.scss';

.userlist-container {
    background-color: $primaryColor;
}


.user-destinations-container {
    margin-bottom: 0;
    background-color: $primaryColor;
    
};

.user-list-title{
    font-size: x-large;
    content: contain;
}

.user-list-share-button {
    position: fixed;
    font-size: medium;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 80px;
    color: white;
    background-color: $darkBlue;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
}

.city-name-row {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;

    .remove-from-share-list {
        position: relative;
        float: right;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: large;
        
    }
}

#email-form-comp.show {
    visibility: visible;
    position: fixed;
    display:flex;
    flex-direction: column;
    bottom: 5%;
    left: 5%;
    z-index: 10;
    width: 90vw;
    height: 90vh;
    border-radius: 10%;
    border: 2px solid;
    background-color: $lightBlue;

    .text-box{
        position: relative;
        height: 300px !important;
        width: 100%;
        background-color: white;
    }

    .email-button {
        border-radius: 30%;
    }

    .email-message-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border-radius: 10%;

        background-color: $lightBlue;

        .email-message{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            border-radius: 10%;
            background-color: $lightBlue;
        }

        .message{
        background-color: $lightBlue;
        }

        
    }

    

    .email-button-section{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $lightBlue;


        .email-button{
            width: 40%;
            height: 50px;
            margin-bottom: 0;
        }
    }
    
}

#email-form-comp {
    visibility: hidden;
    position: fixed;
    z-index: -2;
}

#remove-confirmation {
    visibility: hidden;
}

#remove-confirmation.show {
    visibility: visible;
    position: fixed;
    display:flex;
    flex-direction: column;
    bottom: 50%;
    left: 15%;
    z-index: 11;
    width: 70vw;
    height: 15vh;
    border-radius: 10%;
    border: 2px solid;
    color: white;
    background-color: $middleBlue;

    .confirm-buttons{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 50%;

        button{
            height: 25px;
            width: 50px;
        }
    }
}





.user-destination-single {
    display: flex;
    flex-direction: column;
    border: 2px solid $darkBlue;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10%;
    background-color: white;


    img{
        height:auto;
        width: 100%;
    }


    li{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;


        ul{
        display: flex;
        flex-direction: row;
        align-items: left;
        justify-content: left;

        .city-answer{
            padding-left: 10px;
            font-style:italic;
        }
        }

    }
}