@import '../../App.scss';

.slick-track{

    width: 100vw;
    height: 50vh;


    div{

        button{
            margin-bottom: 20px;
            border-radius: 40%;
            height: 40px;
        }

        img{
            width: 100%;
            height: auto;
        }
    
        h3{
            font-size: xx-large;
            margin-bottom: 0px;
        }
    }
}

.filter-element{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: $primaryColor;
    
}
.filter-checkboxes{
    display: flex;
    flex-direction: column-reverse;

}
.filter-search-button{
    margin-top: 2%;
}