@import '../../App.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#loading{
    padding: 0;
    text-align: left;
    display: flex;
    justify-content:center;
    align-items:initial;
    height: 90vh;
    width: 100vw;
    object-fit: fill;
    box-sizing: border-box;
    overflow: hidden;

}
svg{
    
    
    display: absolute;
    height: 80vh;
    width:60vw;
    box-sizing: border-box;
    
}

@media (max-width:720px) {
    svg{
        transform: scale(2.5);
        height: 400px;
        width: px;
        object-fit: fill;
    }
}

#plane{
    animation: planeRotate 4s infinite linear reverse ;
    transform-origin: center;
}

@keyframes planeRotate {
    from {
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}
#cloud1,#cloud3{
    background-color:red;
    animation: clouds 4s infinite alternate
}

@keyframes clouds {
    from{
        transform: translateX(0%);
    } 
    to {
        transform: translateX(30%);
    }
}

#cloud2,
#cloud4{
    background-color:red;
    animation: clouds2 4.5s infinite alternate
}

@keyframes clouds2 {
    from{
        transform: translateX(0%);
    } 
    to {
        transform: translateX(-30%)
    }
}