@import '../../App.scss';

.auth-container {
    height: 100vh;
    background-color: $lightBlue;
    background-image: linear-gradient($primaryColor, $lightBlue, $darkBlue);
}
.login-container, .register-container {
    height: 90%;
    position: relative;
    top: 40px;

    h1 {
        margin-bottom: 60px;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    input {
        height: 40px;
        width: 200px;
        border-radius: 5px;
        font-size: large;
        margin-top: 20px;
        padding-left: 10px;
        box-sizing: border-box;
        // background-color: $primaryColor;
    }

    button {
        height: 30px;
        width: 120px;
        border-radius: 20%;
        font-size: large;
        cursor: pointer;
    }
    

    label {
        font-size: larger; 
        font-weight: bold;   
    }

    .submit {
        margin-top: 20px;
    }

    .other {
        display: none;
    }
    span {
        
        font-size: medium;
        color: white;
    }

    .toggleBtn {
        font-size: medium;
        font-weight: bold;
        width: 50px;
        border: none;
        height: 100%;
        background-color: transparent;
        margin-top: 20px;
        color: $primaryColor;
        color: black;
        margin-left: 8px;
        text-decoration: underline;
    }
}